body{
	margin: 0em;
	padding: 0em;
	overflow-x:hidden;
}


  .back-img{
      background-image:url("media/banner.jpg");
      width:100%;
      height: 70vh;
      background-size: cover;
      position: relative;
    }       

 


.name {
  line-height: 0.10;
  text-align: center;
  padding: 33px;
  color: #ffff;
  font-size:32px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;

   }
   .name span {
    display: inline-block;
    position: relative;
   }
   .name span:before,
   .name span:after {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 2px solid white;
    width: 600px;
   }
   .name span:before {
    right: 100%;
    margin-right: 15px;
   }
   .name span:after {
    left: 100%;
    margin-left: 15px;
   }
   .sub-title{
    margin-top: 0px;
    color:#ffff;
    text-align: center;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
   }
   .detail{
    text-align: center;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  .detail-sub{
    text-align: center;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
  }  
  .contact-text{
    margin-left: 70%;
    font-weight: bold;
  }
  .about-sub{
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;	
  }
  .abt-sub1{
    font-family: 'Open Sans',sans-serif;
    font-size: 0.8em;	
    text-align: left;
  }
  .lang{
    font-family: 'Open Sans',sans-serif;
    margin-left:70%;
    font-weight: bold;
    margin-top: 10%;
  }
  .dp{
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    height: 30vh;
    width: 30vh;
    border: 6px solid #7f7c74;
}

.movie{
	height: 22vh;
   
	margin-bottom: 8px;
	margin-left:20px;
	border: 6px solid #7f7c74;
}
.experience{
  margin-top: 4%;
  font-family: 'Open Sans',sans-serif;
font-weight: bold;
text-align: left;
}
.experience-small{
  font-size:1em;
  font-family: 'Open Sans',sans-serif;
font-weight: bold;
text-align: left;
}
.experience-smaller{
  margin-top:-2%;
  font-size: 0.75em;
  font-family: 'Open Sans',sans-serif;
font-weight: bold;
text-align: left;
}
.qual-experience-smaller{
  margin-top:-10%;
  font-size: 0.75em;
  font-family: 'Open Sans',sans-serif;
font-weight: bold;
text-align: left;
}


.early-life{
text-align: left;
font-size:  0.8em;
font-family: 'Open Sans',sans-serif;
}

.qual-early-life{
  margin-top: -3%;
  text-align: left;
  font-size:  0.8em;
  font-family: 'Open Sans',sans-serif;
  }

.about{
	
	border-right:1px solid black;
	margin-top: 2%;
	font-family: 'Open Sans',sans-serif;
  text-align: right;
}

.left_placer{
  float: left;
}

.no-padding
  {
    padding:0px;
  }

  .about2{
	
    border-right:0px solid black;
    margin-top: 0%;
    font-family: 'Open Sans',sans-serif;
    text-align: right;
  }
 